<nav>
<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
      <a href="#">Home</a>
       
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
			</ul>
		</div>
	</div>
</div>
<br>
<br>
<br>
</nav>


<!-- 
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Angular 2 CRUD</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/users" routerLinkActive="active">Employee Operations</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/clients" routerLinkActive="active">Client Operations</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/servicescategory" routerLinkActive="active">Service Category Operations</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/services" routerLinkActive="active">Services Operations</a></li>
    </ul>
    
     <ul id="nav-mobile" class="right hide-on-med-and-down">
      
    </ul>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
    </ul>
    
  </div>
-->
